@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.title-home{
  font-size: 40px;
  text-align: center;
  margin-top: 200px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media screen and (min-width:100px) and (max-width:750px) {

.title-home{
  font-size: 20px;
  text-align: center;
  margin-top: 80px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
}